<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="vue.js"></script>
  <link rel="stylesheet" href="style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
  <title>Techno</title>
</head>

<body>
  <div id="app">

    <header class="header">
      <img class="logo" src="./assets/techno.svg" alt="Techno">
      <div class="carrinho-menu">{{carrinhoTotal | numberToPrice}} | {{carrinho.length}} </div>
      <ul>
        <li v-for="(item, index) in carrinho">
          <p>{{item.nome}}</p>
          <button @click="removerItem(index)">X</button>
        </li>
      </ul>
    </header>

    <section class="modal-container" v-if="produto" @click="handleClick">
      <div class="modal">
        <div class="modal-img">
          <img :src="produto.img" alt="">
        </div>
        <div class="modal-info">
          <span>{{produto.preco | numberToPrice}}</span>
          <h2>{{produto.nome}}</h2>
          <p>{{produto.descricao}}</p>


          <button v-if="produto.estoque > 0" class="modal-btn" @click="adicionarItem">Adicionar item</button>
          <button v-else class="modal-btn esgotado" disabled>Produto esgotado</button>

        </div>
      </div>
    </section>
    <section class="produtos">
      <div class="produto" :key="item.id" v-for="item in produtos" @click="produtoAPI(item.id)">
        <img :src="item.img" :alt="item.nome" class="produto-img" />
        <div class="produto-info">
          <span class="produto-preco">{{item.preco | numberToPrice}}</span>
          <h2 class="produto-titulo">{{item.nome}}</h2>
        </div>
      </div>
    </section>

    <div class="alerta" :class="{ativo: alertaAtivo}">
      <p class="alerta-mensagem">{{alertaMensagem}}</p>
    </div>
  </div>

  <script src="./app.js"></script>
</body>

</html>