* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Serif";
}

body {
  background: linear-gradient(90deg, rgb(233, 215, 241) 30%, #fff 30%);
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

#app {
  width: min(90vw, 900px);
  margin: 0 auto;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 120px;
}

.carrinho-menu::after {
  content: "";
  display: inline-block;
  background: url("./assets/carrinho.svg") no-repeat center center;
  width: 25px;
  height: 20px;
}

.carrinho-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Lista produtos */
.produtos {
  margin: 100px auto 0 auto;
}

.produto {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
  background: #fff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.produto-img {
  max-width: 300px;
}

.produto-titulo {
  font-size: 3rem;
  line-height: 1;
}

.produto-preco {
  color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  max-width: 900px;
  position: relative;
  margin-left: 160px;
  animation: toLeft 0.3s forwards;
  display: flex;
  align-items: center;
  height: 500px;
}

@keyframes toLeft {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: intial;
    transform: initial;
  }
}

.modal-img {
  max-width: 250px;
  position: absolute;
  left: -160px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-info {
  padding: 60px 180px;
  align-self: end;
}

.modal-info h2 {
  font-size: 4rem;
  margin-top: -10px;
  margin-bottom: 20px;
}

.modal-info p {
  margin-bottom: 40px;
}

.modal-btn {
  background: #000;
  cursor: pointer;
  border: none;
  color: #fff;
  padding: 8px 24px;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.1s;
}

.modal-btn.esgotado {
  background: rgba(0, 0, 0, 0.3);
}

.modal-btn:active {
  background: #808080;
}

/* Alerta */

.alerta {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
  display: none;
}

.alerta.ativo {
  display: block;
  animation: fadeInDown 0.3s forwards;
}

@keyframes fadeInDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: initial;
    opacity: initial;
  }
}

.alerta-mensagem {
  background: white;
  display: inline-block;
  padding: 20px 40px;
  border: 2px solid black;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* CARRINHO */

.carrinho-modal::before {
  content: "";
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.carrinho-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: none;
}

.carrinho-modal.ativo {
  display: block;
}

.carrinho-container {
  position: relative;
  margin: 80px auto;
  background: #fff;
  padding: 40px;
  max-width: 800px;
  animation: fadeInDown 0.3s forwards;
}

.carrinho-item {
  display: grid;
  grid-template-columns: 1fr 1fr 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.carrinho-titulo {
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #000;
}

.carrinho-remover {
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background: transparent;
}

.carrinho-preco {
  text-align: right;
}

.carrinho-total {
  padding: 10px 50px 10px 0;
  text-align: right;
  border-bottom: 2px solid #000;
}

.carrinho-finalizar {
  display: block;
  margin-left: auto;
  margin-top: 20px;
  background: #000;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  padding: 10px 25px;
  border: none;
}
